@import 'tailwindcss';


@font-face{
  font-family: "Source";
  src: url("/fonts/Source.ttf") format("truetype");
}
@font-face{
  font-family: "Comfortaa";
  src: url("/fonts/Comfortaa.ttf") format("truetype");
}
@theme{
  --color-white: #f9f9f9;
  --color-lgray: #f1f1f1;
  --color-gray: #7b7b7b;
  --color-dgray: #333333;
  --color-green: #00D54B;
  --font-source: "Source", sans-serif;
  --font-comfortaa: "Comfortaa", sans-serif;
}
html,
body {
    width: 100%;
    background-color: #000000;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
@utility flex-center {
  @apply flex justify-center items-center;
}

@utility col-center {
  @apply flex flex-col justify-center items-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility text-gradient {
  background: linear-gradient(to bottom, #ffffff, #898989);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@utility radial-gradient {
  background: radial-gradient(
          ellipse farthest-corner at center,
          #00845b 0%,
          #222 60%,
          #000 100%
  );
}
@utility cut-tr-corner {
  clip-path: polygon(
    0% 0%,
    calc(100% - 30px) 0%,
    100% 30px,
    100% 100%,
    0% 100%
  );
}
@utility cut-tl-corner {
  clip-path: polygon(
    30px 0%,
    100% 0%,
    100% 100%,
    0% 100%,
    0% 30px
  );
}
@utility linear-Gradient {
  background: linear-gradient(to bottom, #ffffff, #898989);
}
@utility white-grid-background {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.1) 2px,
    transparent 2px
  ),
  linear-gradient(90deg, rgba(255, 255, 255, 0.1) 2px, transparent 2px),
  linear-gradient(rgba(255, 255, 255, 0.06) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255, 255, 255, 0.06) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
@utility green-grid-background {
  background-image: 
    linear-gradient(rgba(0, 213, 75, 0.4) 2px, transparent 2px),
    linear-gradient(90deg, rgba(0, 213, 75, 0.4) 2px, transparent 2px),
    linear-gradient(rgba(0, 213, 75, 0.25) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 213, 75, 0.25) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}


@utility masked-img {
  mask-image: url("/images/mask-img.png");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 50%;
}
@utility farm-img {
  background: url("/images/farm.png") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}
@layer components {
  main {
      @apply w-full overflow-x-hidden;
  }

  nav {
      @apply fixed z-50 w-full;

      div {
          @apply flex md:flex-row flex-col md:justify-between items-center gap-5 py-5 lg:px-0 px-5 container mx-auto;
      }

      p {
          @apply font-comfortaa text-3xl -mb-2;
      }

      a {
          @apply cursor-pointer text-nowrap md:text-base text-sm text-white hover:text-green;
      }

      ul {
          @apply flex-center lg:gap-12 gap-7;
      }
  }

  .noisy {
      @apply absolute inset-0 size-full bg-[url("/images/noise.png")];
  }
#hero {
  @apply relative z-10 min-h-dvh w-full px-5 sm:px-10 pb-20 container mx-auto ;

  h1 {
      @apply md:mt-32 mt-40 text-6xl md:text-[10vw] leading-none text-left font-comfortaa text-white mb-10 z-10;
  }
  .hero-info{
    @apply text-xl lg:max-w-2xs md:max-w-xs container  absolute  right-0 lg:bottom-30 bottom-auto md:bottom-[30vh] text-white text-right mr-5 font-source;
  }
  .planet-green {
    @apply absolute right-0  xl:top-80 2xl:top-120 top-1/4 md:w-fit size-20 cursor-pointer z-10 ;
}

  .left-leaf {
      @apply  left-0 md:top-20 xl:top-36 2xl:top-52 md:bottom-auto -bottom-20 md:w-fit w-1/3;
  }

  .right-leaf {
      @apply absolute right-0  xl:top-80 2xl:top-120 top-1/4 md:w-fit size-20;
  }
  .hero-cube {
    @apply absolute left-1/2 bottom-20 size-80 ;
}
.action-buttons{
  @apply flex gap-5 mt-10 bottom-0;

  a {
      @apply inline-block rounded-full bg-green text-black px-4 py-2 text-sm font-comfortaa;
  }
}

.hero-grid {
  @apply grid grid-cols-1 lg:grid-cols-4 gap-5 md:px-0 px-5 ;

  > div {
      @apply  overflow-hidden h-36 xl:h-48 xl:w-auto w-1/2 relative;
  }
  .info {
    @apply text-2xl font-comfortaa text-white col-span-full text-center mt-5;
  }
}
}
.badge {
  @apply inline-block rounded-full bg-white hover:bg-green text-black px-4 py-2 text-sm font-comfortaa mb-8;
}
#about {
        @apply min-h-screen  white-grid-background;

        .content {
            @apply grid grid-cols-1 lg:grid-cols-12 gap-5;

            h2 {
                @apply text-5xl md:text-6xl font-comfortaa max-w-lg text-white;
            }

            .sub-content {
                @apply md:col-span-4 space-y-5 flex flex-col justify-between;

                p {
                    @apply text-lg text-white;
                }

                div {
                    @apply flex flex-col justify-between md:gap-2 gap-5;

                    span {
                        @apply text-green font-bold text-5xl;
                    }
                }
            }
        }

        .badge {
            @apply inline-block rounded-full bg-white text-black px-4 py-2 text-sm font-medium mb-8;
        }

        .top-grid {
            @apply grid grid-cols-1 xl:grid-cols-12 gap-5 mb-5 md:px-0 px-5 mt-5;

            > div {
                @apply rounded-3xl overflow-hidden h-72 relative bg-transparent;
            }

            img {
                @apply object-cover w-full h-full;
            }
        }

        .bottom-grid {
            @apply grid grid-cols-1 lg:grid-cols-12 gap-5 md:px-0 px-5 ;

            > div {
                @apply rounded-3xl overflow-hidden h-80 relative;
            }

            
        }
    }
#tech {
  @apply relative w-full overflow-hidden bg-white min-h-screen;
  height: 100vh;

  .panel {
    @apply absolute w-full h-full top-0 left-0 flex-center flex-col text-center;
  }

  /* Give each panel a background so content is actually visible */
  .panel.description { @apply bg-black;
    .right-hand {
      @apply absolute right-0 lg:left-1/2  xl:top-40 2xl:top-60 top-20 md:w-fit size-20 lg:size-32;
  }
    h1 {
      @apply md:mt-32 mt-4 text-5xl md:text-[4vw] leading-none text-right font-comfortaa text-green mr-10;
    }


    
    
    .tech-grid {
      @apply grid grid-cols-2 lg:grid-cols-9 gap-5 md:px-0 px-5 mt-20;
  
      > div {
          @apply rounded-3xl overflow-hidden h-56 relative;
      > p{
          @apply lg:text-3xl text-2xl text-black absolute bottom-5 right-5  text-right font-comfortaa;
      }
        }
    }

    

}
  .panel.one       { 
    @apply bg-black;
    .cube{
      @apply lg:left-40 bottom-20 absolute;
    }
   }
  .panel.two        {
    @apply bg-dgray;
  }
  .panel.three      { background-color: #ffffff; }
  .panel.four      { background-color: #00D54B; }

  .panel p {
    font-size: 5vw;
  }



}
#info{
  @apply relative z-10 min-h-dvh w-full ;

  .scrolling-text {
    @apply overflow-hidden w-full h-full flex;
    
   
  }
  .scrolling-text .rail {
    @apply bottom-0 flex-center;
    
  }
  .scrolling-text .rail h4 {
    @apply text-green;
    white-space: nowrap;
    font-size: 100px;
    font-weight: 900;
    letter-spacing: ls(120);
    line-height: 1em;
    margin: 0 30px 0 0;
    
}
.info-grid {
  @apply grid grid-cols-1 lg:grid-cols-2 gap-5 md:px-0 px-5 mt-20;

  > div {
      @apply rounded-3xl overflow-hidden h-96 relative;
  > p{
      @apply text-4xl text-white bottom-5 left-5  text-left font-comfortaa;
  }
    }
}
}


#contact{
  @apply relative z-10 min-h-dvh w-full border border-transparent bg-black;
}

#footer {
  @apply w-full py-10 text-center text-sm bg-green;
  h1 {
      @apply text-3xl font-comfortaa mb-5 text-green;
  }
  .footer-grid {
    @apply grid grid-cols-1 xl:grid-cols-6 gap-5 mb-5 md:px-0 px-5;

    > div {
        @apply overflow-hidden h-auto relative;
    }

    
}
}
}
